<div class="bask-wrapper">
  <div class="element">
    <h3><%= @user.username %><% if @cmdr_session_on %> &middot; <a onclick="page.dashboard.signout();">Signout</a><% end %></h3>
  </div>

  <div class="element model-list">
    <div class="listing">
      <div class="main two-wide">
        <div class="left">
          <a href="/cmdrs/<%= @user.id %>"><div class="image" style="background-image: url(<%= @user.image_url %>)"></div></a>
        </div>
        <div class="right">
          <p class="meta">Trading since <%= @user.created_at.utc.to_formatted_s(:long_ordinal) %> UTC</p>
          <p class="descriptor"><a href="/cmdrs/<%= @user.id %>">CMDR <%= @user.username %></a></p>
          <p class="subtext"><%= @user.rank %> - <%= @user.tags %></p>
        </div>
      </div>
      <div class="tools hidden">
      </div>
    </div>
  </div>

  <div class="element">
    <h3>Recent Contributions</h3>
  </div>

  <div class="element model-list">
    <% @trade_events.each do |trade_event| %>
      <div class="listing">
        <div class="main two-wide">
          <div class="left">
            <div class="image" style="background-image: url(<%= trade_event.user.image_url %>)"></div>
          </div>
          <div class="right">
            <p class="meta"><% if trade_event.order %><a href="/orders/<%= trade_event.order.id %>">View Order</a><% end %><% if trade_event.account %><a href="/accounts/<%= trade_event.account.id %>"><%= trade_event.account.name %> Account</a><% end %> &middot; <%= trade_event.created_at.utc.to_formatted_s(:long_ordinal) %> UTC</p>
            <p class="quote">"<%= trade_event.content %>"</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>