<div class="bask-wrapper">
  <div class="element">
    <h3>Filters</h3>
  </div>

  <div class="element filter-orders form inline-labels inline-form">
    <div class="input-group">
      <label for="filter_order_type">Type</label><%= select("filter", "order_type", options_for_select([["Order", ORDER_BUY],["Contribution", ORDER_CONTRIBUTE]], selected: @params[:order_type]), {prompt: 'Any'}, class: "styled-select grey rounded") %>

    </div><div class="input-group">
      <label for="filter_platform">Platform</label><%= select("filter", "platform", options_for_select([["PC", ORDER_PLATFORM_PC],["XBOX", ORDER_PLATFORM_XBOX],["PS4", ORDER_PLATFORM_PS4]], selected: @params[:platform]), {prompt: 'Any'}, class: "styled-select grey rounded") %>

    </div><div class="input-group">
      <label for="filter_status">Status</label><%= select("filter", "status", options_for_select([["Pending", ORDER_OPEN],["Underway", ORDER_UNDERWAY],["Complete", ORDER_CLOSED],["Canceled", ORDER_CANCELED]], selected: @params[:status]), {prompt: 'Any'}, class: "styled-select grey rounded") %>
    </div><div class="input-group">
      <label for="filter_account_id">Account</label><%= select("filter", "account_id", options_for_select(Account.all.order("name asc").collect {|a| [a.name, a.id]}, selected: @params[:account_id]), {prompt: 'Any'}, class: "styled-select grey rounded", class: "styled-select grey rounded") %>
    </div>
  </div>

  <div class="element">
    <h3>Orders &middot; <a onClick="page.toggleElement('div.create-order');">New Order</a><% if @session_user.admin? %> &middot; <a onClick="page.orders.openCsvLink();" download>Download CSV</a> <% end %></h3>
  </div>
  
  <div class="element create-order form bound hidden">
    <div class="input-group">
      <label for="order_type">Type *</label>
      <%= select("order", "order_type", [["Order", ORDER_BUY],["Contribution", ORDER_CONTRIBUTE]], {}, class: "styled-select grey rounded", value: ORDER_BUY) %>
    </div>
    <div class="input-group">
      <label for="order_platform">Platform *</label>
      <%= select("order", "platform", [["PC", ORDER_PLATFORM_PC],["XBOX", ORDER_PLATFORM_XBOX],["PS4", ORDER_PLATFORM_PS4]], {}, class: "styled-select grey rounded", value: ORDER_PLATFORM_PC) %>
    </div>
    <div class="input-group">
      <label for="order_time_window">Trading Time *</label>
      <%= select("order", "time_window", OrderHelper.time_options, {}, class: "styled-select grey rounded", value: 0) %>
    </div>
    <div class="input-group hidden">
      <label for="order_status">Status *</label>
      <%= select("order", "status", [["Pending", ORDER_OPEN],["Underway", ORDER_UNDERWAY],["Complete", ORDER_CLOSED],["Canceled", ORDER_CANCELED]], {}, class: "styled-select grey rounded", value: ORDER_OPEN) %>
    </div>
    <!--
    <div class="input-group">
      <label for="order_details">Details</label>
      <textarea placeholder="Trade/Order details... I.E. 25 Modular terminals." id="order_details"></textarea>
    </div>-->
	<div class="input-group">
		<label for="order_quantity">Quantitiy &amp; Commodity *</label>
     	<input type="number" name="order[order_quantity]" id="order_quantity" value="" placeholder="Quantity..." size="4" style="float: left; width: 30%;">
		<%= select("order", "order_commodity", [["Bromellite", "Bromellite"], ["Fujin Tea", "Fujin Tea"], ["Kamitra Cigars", "Kamitra Cigars"], ["Kongga Ale", "Kongga Ale"], ["Lavian Brandy", "Lavian Brandy"], ["Meta Alloy", "Meta Alloy"], ["Modular Terminals", "Modular Terminals"], ["Painite", "Painite"], ["Soontil Relics", "Soontil Relics"],["Xihe Companions", "Xihe Companions"]], {}, class: "styled-select grey rounded", value: "Bromellite") %>
	</div>
   <div class="input-group">
      <label for="initial_note">Note</label>
      <input type="text" placeholder="i.e. Security Advised" id="initial_note"  />
    </div>
   
    <div class="input-group">
      <label for="order_account_id">Account *
      <a class="new-account" onClick="page.toggleElement('a.cancel-new-account');page.toggleElement('select.existing-accounts');page.toggleElement('.new-account-info');page.toggleElement('a.new-account');page.orders.clearNewAccount();">New</a>
      <a class="cancel-new-account hidden" onClick="page.toggleElement('a.new-account');page.toggleElement('select.existing-accounts');page.toggleElement('.new-account-info');page.toggleElement('a.cancel-new-account');page.orders.clearNewAccount();">Cancel</a></label>
      <%= select("order", "account_id", Account.all.order("name asc").collect {|a| [a.name, a.id]}, {prompt: 'Select Account'}, class: "styled-select grey rounded existing-accounts") %>
      <div class="new-account-info hidden">
        <%= select("account", "account_type", [["CMDR", ACCOUNT_CMDR],["Player Group", ACCOUNT_GROUP]], {}, class: "styled-select grey rounded", value: ACCOUNT_CMDR) %>
        <input type="text" placeholder="Account name" id="account_name" style="margin-top: 8px;" />
        <input type="text" placeholder="Discord name" id="account_discord_name" style="margin-top: 8px;" />
      </div>
    </div>
    <div class="input-group">
      <label for="order_user_id">Assigned CMDR</label>
      <%= select("order", "user_id", User.all.order("username asc").collect {|a| [a.username, a.id]}, {prompt: 'Unassigned'}, class: "styled-select grey rounded") %>
    </div>
    <div class="input-group">
      <button onclick="page.orders.createOrder();">Create Order</button>
    </div>
  </div>

  <div class="element model-list">
    <% @orders.each do |order| %>
      <div class="listing <%= order.is_open ? 'open' : 'disabled' %> <%= order.is_assigned ? 'assigned' : 'not-assigned' %>">
        <div class="main two-wide without-image">
          <div class="right">
            <p class="meta"><span class="tag"><%= order.platform_text %></span> &middot; <span class="tag"><%= order.status_text %></span> &middot; Opened <%= order.created_at.utc.to_formatted_s(:long_ordinal) %> UTC</p>
            <p class="descriptor"><a href="/orders/<%= order.id %>"><%= order.account.name %> <%= order.type_text.downcase %></a> &middot; <% if order.user.blank? %> Unassigned<% if order.time_window %> &middot; Trading Time: <%= OrderHelper.time_options[order.time_window][0] %><% end %><% else %>Assigned to <a href="/cmdrs/<%= order.user.id %>"><%= order.user.username %></a><% end %></p>
            <!--<p class="subtext"><%= order.description %></p>-->
            <p class="subtext"><%= order.order_quantity %> <%= order.order_commodity %></p>
          </div>
        </div>
        <div class="tools hidden">
        </div>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">page.orders.initOrderFilters();</script>


