<div class="bask-wrapper">
  <div class="element">
    <h3><%= @order.account.name %> <%= @order.type_text%> &middot; <a onClick="page.toggleElement('div.edit-order');">Edit</a> &middot; <a onClick="page.toggleElement('div.delete-order');">Delete</a> &middot; <a onClick="page.toggleElement('div.add-trade-event');">Add Note</a> &middot; <a onClick="page.toggleElement('div.deposit-withdraw');">Deposit/Withdraw</a> &middot; <a href="/t/<%= @order.order_hash %>" target="_blank">Summary</a></h3>
    <p class="text"><strong>Account: </strong><a href="/accounts/<%= @order.account.id %>"><%= @order.account.name %></a></p>
    <!-- <p class="text"><strong>Time Window: </strong><%= OrderHelper.time_options[@order.time_window][0] %></p> -->
    <p class="text"><strong>Discord Handle: </strong><%= @order.account.discord_name %></p>
    <p class="text"><strong>Detail: </strong><%= @order.description %></p>
    <p class="text"><strong>Status: </strong><%= @order.status_text %></p>
    <p class="text"><strong>Platform: </strong><%= @order.platform_text %></p>
    <p class="text"><strong>Opened: </strong><%= @order.created_at.utc.to_formatted_s(:long_ordinal) %> UTC</p>
    <p class="text"><strong>EIC CMDR: </strong><% if @order.user.blank? %>Unassigned<% else %><a href="/cmdrs/<%= @order.user.id %>"><%= @order.user.username %></a><% end %></p>
  </div>
  
  <div class="element edit-order form bound hidden">
    <div class="input-group">
      <label for="order_order_type">Type *</label>
      <%= select("order", "order_type", [["Order", ORDER_BUY],["Contribution", ORDER_CONTRIBUTE]], {}, class: "styled-select grey rounded", value: @order.order_type) %>
    </div>
    <div class="input-group">
      <label for="order_platform">Platform *</label>
      <%= select("order", "platform", [["PC", ORDER_PLATFORM_PC],["XBOX", ORDER_PLATFORM_XBOX],["PS4", ORDER_PLATFORM_PS4]], {}, class: "styled-select grey rounded", value: ORDER_PLATFORM_PC) %>
    </div>
    <!-- <div class="input-group">
      <label for="order_time_window">Time Window *</label>
      <%= select("order", "time_window", OrderHelper.time_options, {}, class: "styled-select grey rounded", value: 0) %>
    </div> -->
    <div class="input-group">
      <label for="order_status">Status *</label>
      <%= select("order", "status", [["Pending", ORDER_OPEN],["Underway", ORDER_UNDERWAY],["Complete", ORDER_CLOSED],["Canceled", ORDER_CANCELED]], {}, class: "styled-select grey rounded", value: @order.status) %>
    </div>
    <div class="input-group">
      <label for="order_details">Details</label>
      <textarea placeholder="Trade/Order details... I.E. 25 Modular terminals." id="order_details"><%= @order.description %></textarea>
    </div>
    <div class="input-group">
      <label for="order_account_id">Account *</label>
      <%= select("order", "account_id", Account.all.order("name asc").collect {|a| [a.name, a.id]}, {prompt: 'Select Account'}, class: "styled-select grey rounded existing-accounts", value: @order.account.id) %>
    </div>
    <div class="input-group">
      <label for="order_user_id">Assigned CMDR</label>
      <%  %>
      <%= select("order", "user_id", @all_users, {prompt: 'Unassigned'}, class: "styled-select grey rounded", value: @order.user ? @order.user.id : nil) %>
    </div>
    <div class="input-group">
      <button onclick="page.orders.updateOrder();">Update Order</button>
    </div>
  </div>

  <div class="element delete-order hidden">
    <p class="text">Really delete this order? <a onClick="page.orders.deleteOrder();"><strong>Jettison (Abandon)</strong></a> &middot; <a onClick="page.toggleElement('div.delete-order');">Cancel</a></p>
  </div>

  <div class="element add-trade-event form hidden">
    <div class="input-group">
      <label for="trade_event_input">Note</label>
      <input type="text" placeholder="i.e. I am waiting to hear back from this CMDR." id="trade_event_input"  />
    </div>
    <div class="input-group">
      <button onclick="page.tradeEvents.createTradeEventForOrder();">Add Note</button>
    </div>
  </div>

  <div class="element deposit-withdraw form bound hidden">
    <div class="input-group">
      <label for="deposit_withdraw">Deposit/Withdraw from <a href="/accounts/<%= @order.account.id %>"><%= @order.account.name %></a></label>
      <input type="text" placeholder="i.e. -100 or 75 or -10 etc..." id="deposit_withdraw"  />
    </div>
    <div class="input-group">
      <button onclick="page.accounts.depositWithdrawFrom(<%= @order.account.id %>, <%= @order.account.credit_count %>);">Apply</button>
    </div>
  </div>

  <% unless @testimonials.blank? %>
    <div class="element">
      <h3>Testimonials</h3>
    </div>
    <div class="element model-list">
      <% @testimonials.each do |testimonial| %>
        <div class="listing">
          <div class="main two-wide without-image">
            <div class="right">
              <p class="meta">
                <span class="really-delete-test-<%= testimonial.id %> hidden"> Really? <a onclick="page.testimonials.deleteTestimonial(<%= testimonial.id %>);"><strong>Yes</strong></a> &middot; <a onclick="page.toggleElement('span.really-delete-test-<%= testimonial.id %>');page.toggleElement('a.start-delete-test-<%= testimonial.id %>');">No</a></span>
                <a onclick="page.toggleElement('span.really-delete-test-<%= testimonial.id %>');page.toggleElement('a.start-delete-test-<%= testimonial.id %>');" class="start-delete-test-<%= testimonial.id %>">Delete</a> &middot;

                Given <%= testimonial.created_at.utc.to_formatted_s(:long_ordinal) %> UTC
              </p>
              <p class="quote">"<%= testimonial.content %>"</p>
              <p class="subtext">- <%= testimonial.account.account_type_string %> <%= testimonial.account.name %></p>
            </div>
          </div>
          <div class="tools hidden">
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% unless @trade_events.blank? %>
    <div class="element">
      <h3>Recent Notes</h3>
    </div>
    <div class="element model-list">
      <% @trade_events.each do |trade_event| %>
        <div class="listing">
          <div class="main two-wide">
            <div class="left">
              <a href="/cmdrs/<%= trade_event.user.id %>"><div class="image" style="background-image: url(<%= trade_event.user.image_url %>)"></div></a>
            </div>
            <div class="right">
              <p class="meta">
                <a onclick="page.toggleElement('div.edit-trade-event-<%= trade_event.id %>');">Edit</a> &middot;

                <span class="really-delete-<%= trade_event.id %> hidden"> Really? <a onclick="page.tradeEvents.deleteTradeEvent(<%= trade_event.id %>);"><strong>Yes</strong></a> &middot; <a onclick="page.toggleElement('span.really-delete-<%= trade_event.id %>');page.toggleElement('a.start-delete-<%= trade_event.id %>');">No</a></span>
                <a onclick="page.toggleElement('span.really-delete-<%= trade_event.id %>');page.toggleElement('a.start-delete-<%= trade_event.id %>');" class="start-delete-<%= trade_event.id %>">Delete</a> &middot;
                
                <a href="/cmdrs/<%= trade_event.user.id %>"><%= trade_event.user.username %></a> &middot; <%= trade_event.created_at.utc.to_formatted_s(:long_ordinal) %> UTC</p>
              <p class="quote">"<%= trade_event.content %>"</p>
            </div>
          </div>
          <div class="tools edit-trade-event-<%= trade_event.id %> hidden">
            <div class="element form">
              <div class="input-group">
                <input type="text" placeholder="i.e. Contributed 25 MTs." id="trade_event_input_<%= trade_event.id %>" value="<%= trade_event.content %>" />
              </div>
              <div class="input-group">
                <button onclick="page.tradeEvents.updateTradeEvent(<%= trade_event.id %>);">Update Note
                </button><button onclick="page.toggleElement('div.edit-trade-event-<%= trade_event.id %>');">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>