<div class="bask-wrapper">
  <div class="element">
    <h3><%= @order.account.name %> Trade Summary &middot; <a onClick="page.toggleElement('div.leave-testimonial');">Give Testimonial</a></h3>
    <!--<p class="text"><strong>Detail: </strong><%= @order.description %></p>-->
    <p class="text"><strong>Commodity: </strong><%= @order.order_quantity %> <%= @order.order_commodity %></p>
    <p class="text"><strong>Status: </strong><%= @order.status_text %></p>
    <p class="text"><strong>Trading Time: </strong><%= OrderHelper.time_options[@order.time_window][0] %></p>
    <p class="text"><strong>Location: </strong><%= @order.location_text %></p>
    <p class="text"><strong>Platform: </strong><%= @order.platform_text %></p>
    <p class="text"><strong>Opened: </strong><%= @order.created_at.utc.to_formatted_s(:long_ordinal) %> UTC</p>
    <p class="text"><strong>EIC CMDR: </strong><% if @order.user.blank? %>Unassigned<% else %><%= @order.user.username %><% end %></p>
  </div>

  <div class="element leave-testimonial form bound hidden">
    <div class="input-group hidden">
      <input id="testimonial_account_id" type="number" min="0" step="1" value="<%= @order.account_id %>"/>
    </div>
    <div class="input-group hidden">
      <input id="testimonial_order_id" type="number" min="0" step="1" value="<%= @order.id %>"/>
    </div>
    <div class="input-group">
      <label for="testimonial_content">Give Testimonial</label>
      <textarea placeholder="EIC is awesome and I love them!!!1!" id="testimonial_content"></textarea>
    </div>
    <div class="input-group">
      <button onclick="page.testimonials.createTestimonial();">Give Testimonial</button>
    </div>
  </div>

  <% if @order.is_contribution %>
    <div class="element notice-text">
      <h3><strong>Thank you <%= @order.account.account_type_string %> <%= @order.account.name %> for lodging a trade Contribution.</strong></h3>
      <p class="text">A CMDR will be in touch shortly to collect your goods.</p>
      <p class="text">Once moved to our ship we will confirm the total and then send you a statement of your account via Discord PM.</p>
      <p class="text">If you haven’t done so already please tag yourself in the #trading-floor as ?supplier</p>
    </div>
  <% else %>
    <div class="element notice-text">
      <h3><strong>Thank you <%= @order.account.account_type_string %> <%= @order.account.name %> for your order.</strong></h3>
      <p class="text"><strong>WHAT HAPPENS NOW ...</strong></p>
      <p class="text">We will source your goods or minerals within the next 24-48 hours</p>
      <p class="text">You stay on our Discord <strong>and do not go Red Dot / Ignore!</strong> If you leave your order will be cancelled</p>
      <p class="text">Monitor #trading-floor for your name to be called/mentioned with @name</p>
      <p class="text underline">When told your order is ready by a Trader:</p>
      <ol>
        <li>Get the right payment - if you're not sure of the total check <a href="https://eicgaming.com/trading-post" target="_blank">https://eicgaming.com/trading-post</a>
          <ul>
            <li>Tritium is available from stations nearby to Kappa Fornacis and Colonia <a href="https://eddb.io/commodity/362" target="_blank">https://eddb.io/commodity/362</a></li>
          </ul>
        </li>
        <li>For trades requiring limpet transfer get 2 Collector Controllers, they stack and the minimum is 2 Class 3’s for 4 active limpets, more is faster.</li>
        <li>Get 10-15 limpets</li>
        <li>Come to Kappa Fornacis for trades in the bubble or near Jacques Station for trades in Colonia and let the CMDR know you are ready via Discord Private Message</li>
        <li>We will send Friend and Wing requests and may give you a new trade location</li>
      </ol>
      <p class="text">We only operate in Open</p>
      <p class="text"><strong>PLEASE NOTE:</strong></p>
      <p class="text">If we ping you 3 times over 48 hours and don't get a reply your order will be canceled.</p>
      <p class="text">If you arrive at the trade location without payment or means of collection we will move you to the end of the waiting list.</p>
      <p class="text">You may come to a trade armed in case of NPC pirates but you may not bring another player to the trade location. If our CMDR is not happy with how things are going then they reserve the right to high wake and re-arrange the trade at another time and place.</p>
    </div>
  <% end %>

  <% unless @testimonials.blank? %>
    <div class="element">
      <h3>Testimonials</h3>
    </div>
    <div class="element model-list">
      <% @testimonials.each do |testimonial| %>
        <div class="listing">
          <div class="main two-wide without-image">
            <div class="right">
              <p class="meta">Given <%= testimonial.created_at.utc.to_formatted_s(:long_ordinal) %> UTC</p>
              <p class="quote">"<%= testimonial.content %>"</p>
              <p class="subtext">- <%= testimonial.account.account_type_string %> <%= testimonial.account.name %></p>
            </div>
          </div>
          <div class="tools hidden">
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
