<% if @session_user && !@hide_nav %>
	<div class="nav">
		<a href="/accounts" class="<%= @accounts_on ? 'active' : '' %>">ACCOUNTS
		</a><a href="/cmdrs" class="<%= @cmdrs_on ? 'active' : '' %>">EIC CMDRS
		</a><a href="/cmdrs/<%= @session_user.id %>" class="<%= @cmdr_session_on ? 'active' : '' %>">CMDR <%= @session_user.username.upcase %></a>
	</div>
<% end %>