<!DOCTYPE html>
<html>
  <head>
    <title><%= @socialmeta[:title] %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
  	<%= render template: 'layouts/common/_progress_bar' %>
    <%= render template: 'layouts/common/_errors' %>
    <%= render template: 'layouts/common/_nav' %>
    <%= render template: 'layouts/common/_overview_video' %>
    <%= yield %>
  </body>
</html>