<div class="bask-wrapper">
  <div class="element">
    <h3>Accounts &middot; <a onClick="page.toggleElement('div.create-account');">Create Account</a></h3>
  </div>
  
  <div class="element create-account form bound hidden">
    <div class="input-group">
      <label for="account_name">Account Name</label>
      <input type="text" placeholder="Account name" id="account_name" />
    </div>
    <div class="input-group">
      <label for="account_discord_name">Discord Handle</label>
      <input type="text" placeholder="Discord handle" id="account_discord_name" />
    </div>
    <div class="input-group">
      <label for="account_type">Type (0 = CMDR, 1 = Player Group)</label>
      <input type="number" placeholder="Account type" id="account_type" />
    </div>
    <div class="input-group">
      <label for="credit_count">Credits</label>
      <input type="number" placeholder="Credits" id="credit_count" />
    </div>
    <div class="input-group">
      <button onclick="page.accounts.createAccount();">Create Account</button>
    </div>
  </div>

  <div class="element model-list">
    <% @accounts.each do |account| %>
      <div class="listing">
        <div class="main two-wide without-image">
          <div class="right">
            <p class="meta"><%= account.account_type_string %> &middot; Opened <%= account.created_at.utc.to_formatted_s(:long_ordinal) %> UTC</p>
            <p class="descriptor"><a href="/accounts/<%= account.id %>"><%= account.name %></a> - <%= account.credits %> credits</p>
          </div>
        </div>
        <div class="tools hidden">
        </div>
      </div>
    <% end %>
  </div>
</div>