<div class="bask-wrapper">
  <div class="element">
    <h3><%= @account.type_with_name %> &middot; <a onClick="page.toggleElement('div.edit-account');">Edit</a> &middot; <a onClick="page.toggleElement('div.delete-account');">Delete</a> &middot; <a onClick="page.toggleElement('div.add-trade-event');">Add Trade Event</a></h3>
     <p class="text">Account has <strong><%= @account.credits %> credits</strong> and is known on Discord as <strong><%= @account.discord_name %></strong>.</p>
  </div>

  <div class="element edit-account form bound hidden">
    <div class="input-group">
      <label for="account_name">Account Name</label>
      <input type="text" placeholder="Account name" id="account_name" value="<%= @account.name %>" />
    </div>
    <div class="input-group">
      <label for="account_discord_name">Discord Handle</label>
      <input type="text" placeholder="Discord handle" id="account_discord_name" value="<%= @account.discord_name %>" />
    </div>
    <div class="input-group">
      <label for="account_type">Type (0 = CMDR, 1 = Player Group)</label>
      <input type="number" placeholder="Account type" id="account_type" value="<%= @account.account_type %>" />
    </div>
    <div class="input-group">
      <label for="credit_count">Credits</label>
      <input type="number" placeholder="Credits" id="credit_count" value="<%= @account.credits %>" />
    </div>
    <div class="input-group">
      <button onclick="page.accounts.updateAccount();">Update Account</button>
    </div>
  </div>

  <div class="element delete-account hidden">
    <p class="text">Really delete this account? <a onClick="page.accounts.deleteAccount();"><strong>Jettison (Abandon)</strong></a> &middot; <a onClick="page.toggleElement('div.delete-account');">Cancel</a></p>
  </div>

  <div class="element add-trade-event form hidden">
    <div class="input-group">
      <label for="trade_event_input">Trade Event</label>
      <input type="text" placeholder="i.e. Contributed 25 MTs." id="trade_event_input"  />
    </div>
    <div class="input-group">
      <button onclick="page.tradeEvents.createTradeEvent();">Add Trade Event</button>
    </div>
  </div>

  <div class="element model-list">
    <% @trade_events.each do |trade_event| %>
      <div class="listing">
        <div class="main two-wide">
          <div class="left">
            <a href="/cmdrs/<%= trade_event.user.id %>"><div class="image" style="background-image: url(<%= trade_event.user.image_url %>)"></div></a>
          </div>
          <div class="right">
            <p class="meta">
              <a onclick="page.toggleElement('div.edit-trade-event-<%= trade_event.id %>');">Edit</a> &middot;

              <span class="really-delete-<%= trade_event.id %> hidden"> Really? <a onclick="page.tradeEvents.deleteTradeEvent(<%= trade_event.id %>);"><strong>Yes</strong></a> &middot; <a onclick="page.toggleElement('span.really-delete-<%= trade_event.id %>');page.toggleElement('a.start-delete-<%= trade_event.id %>');">No</a></span>
              <a onclick="page.toggleElement('span.really-delete-<%= trade_event.id %>');page.toggleElement('a.start-delete-<%= trade_event.id %>');" class="start-delete-<%= trade_event.id %>">Delete</a> &middot;
              
              <a href="/cmdrs/<%= trade_event.user.id %>"><%= trade_event.user.username %></a> &middot; <%= trade_event.created_at.utc.to_formatted_s(:long_ordinal) %> UTC</p>
            <p class="quote">"<%= trade_event.content %>"</p>
          </div>
        </div>
        <div class="tools edit-trade-event-<%= trade_event.id %> hidden">
          <div class="element form">
            <div class="input-group">
              <input type="text" placeholder="i.e. Contributed 25 MTs." id="trade_event_input_<%= trade_event.id %>" value="<%= trade_event.content %>" />
            </div>
            <div class="input-group">
              <button onclick="page.tradeEvents.updateTradeEvent(<%= trade_event.id %>);">Update Trade Event
              </button><button onclick="page.toggleElement('div.edit-trade-event-<%= trade_event.id %>');">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>